# --- Project Specific ---
*.ipynb_checkpoints
__pycache__/

# --- Data & Environments ---
.env
venv/
.venv/

# --- DVC/Git Specific ---
# 1. Ignore the large data file itself
data/raw_insurance_data.csv

# 2. Ignore DVC cache/storage (MUST be ignored)
.dvc/cache/

# 3. IGNORE OUTPUTS AND LOGS (Important for later tasks)
data/processed/
artifacts/
logs/
git rm -r --cached .
git add .
git commit -m "chore: Update .gitignore to allow DVC files"